<%= image_tag "myvolume_logo_72dpi.png" %>
<div class="login-box well">
  <%= form_tag sessions_path do %>
  	<fieldset>
  	  <div class="clearfix">
  			<div class="input">
  			  <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
  			</div>
  		</div>
  		<div class="clearfix">
  			<div class="input">
  			  <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
  			</div>
  		</div>
  		<div class="actions">
  	    <%= submit_tag "Sign in", :class => "btn large info" %>
  	  </div>
  	</fieldset>
  <% end %>
  <div class="register-box">
    <table>
      <tr>
        <td><%= link_to "Connect using Facebook", "/auth/facebook", :class => "btn info" %></td>
        <td><%= link_to "Register with myvolu.me", new_user_path, :class => "btn info" %></td>
      </tr>
    </table>
  </div>
</div>

