    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
	    <div class="error_messages">
	        <h2>Form is invalid</h2>
		<ul>
		    <% for message in @user.errors.full_messages %>
		        <li><%= message %></li>
		    <% end %>
		</ul>
	    </div>
        <% end %>
          <h3>Register</h3>
      <fieldset>
        <div class="clearfix">
	    <%= f.label :alias %>
        </div>
            <div class="input">
                <%= f.text_field :alias %>
            </div>
        <div class="clearfix">
	    <%= f.label :email %>
        </div>
            <div class="input">
                <%= f.text_field :email %>
          </div>
        <div class="clearfix">
	    <%= f.label :password %>
        </div>
            <div class="input">
             <%= f.password_field :password %>
            </div>
        <div class="clearfix">
            <%= f.label :password_confirmation %>
        </div>
            <div class="input">
                <%= f.password_field :password_confirmation %>
            </div>
      </fieldset>
      <div class="actions">
        <%= submit_tag "Register", :class => "btn info" %>
      </div>
    <% end %>
