<div class="well">
	<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
    <fieldset>
      <div class="clearfix">
        <div class="input">
          <%= f.text_field :alias, :placeholder => "Alias" %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.text_field :email, :placeholder => "Email" %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <%= submit_tag "Register", :class => "btn large primary" %>
      <%= link_to "Back", root_path, :class => "btn large" %>
    </div>
	<% end %>
</div>


