
<% @charts.each do |chart| %>
<header>
	<h1 id="<%= chart.id %>" style="background-image: url(<%= chart.chart_thumbnail.medium %>); background-repeat: no-repeat; background-position: 0 50%;">
		<div><%= chart.name %></div>
		<div><em><%= chart.publish_date.to_date.to_formatted_s(:long_ordinal) %></em></div>
	</h1> 
</header>
<ul class="<%= chart.id %>" style="display:none;">
	<% chart.songs.each_with_index do |song,i| %>
		<% if !song.song_thumbnail.nil? %>
			<li style="background-image: url(<%= song.song_thumbnail.small %>); background-repeat: no-repeat; background-position: 7% 50%;">
		<% else %>
			<li>
		<% end %>
		<div class="track_detail">
			<div class="track_info">
				<div>
					<% track_title = "#{song.name} (#{song.mix_name})"%>
					<a href="#" data-src="<%= song.sample_url %>"><%= truncate(track_title, :length => 40) %></a>
				</div>
				<div><%= "#{truncate(song.artist, :length => 40)}"%></div>
			</div>
			<div class="track_icons">
				<div class="download">
					<%= link_to image_tag("dl_icon.png"), "http://www.google.com/search?q=#{song.name.gsub(' ','+')}+#{song.mix_name.gsub(' ','+')}+#{song.artist.gsub('&','').gsub(' ','+')}+site:zippyshare.com", :target => "_blank" %>
				</div>
				<div class="queue_button">
					<%= image_tag("add_icon.png") %>
				</div>
				<div class="play_button">
					<%= image_tag("player_play.png") %>
				</div>
			</div>
		</div>
		</li> 
	<% end %>
</ul>
<% end %>
<%= will_paginate @charts, :prev_label => 'Previous', :next_label => 'Next' %>
