<div class="header">
	<span class="title">Charts</span>
	<%= will_paginate @charts, :class => "pagination charts", :prev_label => 'Previous', :next_label => 'Next', :page_links => false %>
</div>
<% for i in 0 ... @charts.size %>
<div id="<%= @charts[i].id %>" class="chartheader">
	<div class="chartimage">
		<%= image_tag @charts[i].chart_thumbnail.large %>
	</div>
	<div class="chartinfo">
		<h1 class="<%= cycle('even','odd') %>">
			<div class="charttitle"><%= truncate(@charts[i].name, :length => 40) %></div>
			<div class="chartdate"><em><%= @charts[i].publish_date.to_date.to_formatted_s(:long_ordinal) %></em></div>
			<div class="tags">
			<% @charts[i].genres.each do |genre| %>
				<span><%= genre.name %></span>
			<% end %>
			</div>
		</h1> 
	</div>
</div>
<ul class="<%= @charts[i].id %>" style="display:none;">
	<% @charts[i].songs.each_with_index do |song,i| %>
		<li class="<%= cycle('even','odd')%>">
		<div class="track_detail">
			<div class="numbers">
				<div class="track_position"><%= (i+1).to_s.rjust(2, '0') %></div>
			</div>
			<div class="track_image">
				<% if song.song_thumbnail.nil? %>
					<%- image_tag Song.first.song_thumbnail.medium %>
				<% else %>
					<a href="<%= song.song_thumbnail.large %>" class="lightbox"><%= image_tag song.song_thumbnail.medium %></a>
				<% end %>
			</div>
			<div class="track_info">
				<div>
					<% track_title = "#{song.name} (#{song.mix_name})"%>
					<a href="#" data-src="<%= song.sample_url %>"><%= truncate(track_title, :length => 32) %></a>
				</div>
				<div class="track_artist"><%= "#{truncate(song.artist, :length => 28, :seperator => ' ')}"%></div>
				<div class="tags">
					<div class="track_icons">
						<div class="play_button">
							<%= image_tag("player_play.png") %>
						</div>
						<div class="queue_button">
							<%= image_tag("add_icon.png") %>
						</div>
						<div class="download">
							<%= link_to image_tag("dl_icon.png"), "http://www.google.com/search?q=#{song.name.gsub('&','').gsub(' ','+')}+#{song.mix_name.gsub('&','').gsub(' ','+')}+#{song.artist.gsub('&','').gsub(' ','+')}+site:zippyshare.com+OR+site:mediafire.com", :target => "_blank" %>
						</div>
					</div>
					<span><%= song.genres.first.name %></span>
          <div class="heart">&#x2764;</div>
				</div>
			</div>
		</div>
		</li> 
	<% end %>
</ul>
<% end %>
<!-- <div id="chart_row_three">
	<%= will_paginate @charts, :class => "pagination bottom", :prev_label => 'Previous', :next_label => 'Next' %>
</div> -->
<script>
$(function() {
	$('a.lightbox').lightBox();
});
</script>	
