<div id="activeUsers" class="mostLoved">
	<h1 class="form_header box">Most Active Users</h1>
	<% if !@mostActive.nil? && @mostActive.length > 0 %>
  	<% @mostActive.each do |user| %>
  		<% if user.class == User and user.favorite_count > 0 %>
  			<div class="activeUser">
  				<div class="user_info">
  					<div class="num"><%= (user.favorite_count).to_s.rjust(2, '0') %></div>
  					<div class="heart active">❤</div>
  					<div class="avatar"><%= image_tag avatar_url(user) %></div>
  				</div>
  				<div class="alias"><%= link_to user.alias, "/users/#{user.id}"%></div>
  				<div class="clear"></div>
  			</div>
  		<% elsif user.class == Authorization and user.favorite_count > 0 %>
  			<div class="activeUser">
  				<div class="user_info">
  					<div class="num"><%= (user.favorite_count).to_s.rjust(2, '0') %></div>
  					<div class="heart active">❤</div>
  					<div class="avatar"><%= image_tag avatar_url(user) %></div>
  				</div>
  				<div class="alias"><%= user.alias %></div>
  				<div class="clear"></div>
  			</div>
  		<% end %>
  	<% end %>
  <% end %>
</div>

<div class="mostLoved">
	<h1 class="form_header box">Most Loved This Month</h1>
	<% @mostLoved.each do |song| %>
		<div class="lovedElement">
			<div class="num"><%= (song.favorite_count).to_s.rjust(2, '0') %></div>
			<% if is_favorite(song.id) %>
				<div class="heart"><%= link_to "❤", "/favorite/#{song.id}", :class => "heart active"%></div>
			<% else %>
				<div class="heart"><%= link_to "❤", "/favorite/#{song.id}", :class => "heart"%></div>
			<% end %>
			<div class="track_icons">
				<a class="play_button" href="<%= "/playtrack/#{song.id}" %>" data-src="<%= song.sample_url %>">
					<%= image_tag("player_play.png") %>
				</a>
				<div class="download">
					<%= link_to image_tag("dl_icon.png"), "#{generateQuery(song)}", :target => "_blank" %>
				</div>
			</div>
			<div class="track_info">
				<div class="name"><a href="#" data-src="<%= song.sample_url %>"><%= "#{song.name}" %></a></div>
				<div class="mixName"><%= "(#{song.mix_name})" %></div>
				<div class="artist"><%= "#{truncate(song.artist, :length => 30, :separator => '&')}" %></div>
			</div>
			<div class="clear"></div>
		</div>
	<% end %>
</div>