<div id="wrapper">
	<span>Only working in chrome atm :(</span>
	<h1>Welcome to myvolu.me</h1>
	<audio preload="none"></audio>
	<div id="charts">
		<% for chart in @charts %>
		<header>
			<h1 id="<%= chart.id %>" style="background-image: url(<%= chart.chart_thumbnail.medium %>); background-repeat: no-repeat; background-position: 0 50%;">
				<div><%= chart.name %></div>
				<div><em><%= chart.publish_date.to_date.to_formatted_s(:long_ordinal) %></em></div>
			</h1> 
		</header>
		<ul class="<%= chart.id %>" style="display:none;">
			<% chart.songs.each_with_index do |song,i| %>
				<% if !song.song_thumbnail.nil? %>
					<li style="background-image: url(<%= song.song_thumbnail.small %>); background-repeat: no-repeat; background-position: 7% 50%;">
				<% else %>
					<li>
				<% end %>
				<div class="track_info">
					<div>
						<a href="#" data-src="<%= song.sample_url %>"><%= "#{song.name} (#{song.mix_name})" %></a>
					</div>
					<div><%= "#{song.artist}"%></div>
				</div>
			
					<!-- <div><%= link_to "Download using Google", "http://www.google.com/search?q=#{song.name.gsub(' ','+')}+#{song.mix_name.gsub(' ','+')}+site:zippyshare.com" %></div> -->
				</li> 
			<% end %>
		</ul>
		<% end %>
	</div>
</div>

<script>
	$(function() { 
	     // Setup the player to autoplay the next track
	     var a = audiojs.createAll({
	       trackEnded: function() {
	         var next = $('ul li.playing').next();
	         if (!next.length) next = $('ol li').first();
	         next.addClass('playing').siblings().removeClass('playing');
	         audio.load($('a', next).attr('data-src'));
	         audio.play();
	       }
	     });
     
	     // Load in the first track
	     var audio = a[0];
	         first = $('ul a').attr('data-src');
	     $('ul li').first().addClass('playing');
	     audio.load(first);

		 // Expand a playlist on header click
		$('h1').click(function(e) {
			var chart_id = $(this).attr("id");
			$("." + chart_id).slideToggle("slow");
		});

	     // Load in a track on click
	     $('ul li').click(function(e) {
	       e.preventDefault();
		   $(".playing").removeClass('playing');
	       $(this).addClass('playing').siblings().removeClass('playing');
	       audio.load($('a', this).attr('data-src'));
	       audio.play();
	     });
	     // Keyboard shortcuts
	     $(document).keydown(function(e) {
	       var unicode = e.charCode ? e.charCode : e.keyCode;
	          // right arrow
	       if (unicode == 39) {
	         var next = $('li.playing').next();
	         if (!next.length) next = $('ul li').first();
	         next.click();
	         // back arrow
	       } else if (unicode == 37) {
	         var prev = $('li.playing').prev();
	         if (!prev.length) prev = $('ul li').last();
	         prev.click();
	         // spacebar
	       } else if (unicode == 32) {
	         audio.playPause();
	       }
	     })
	   });
</script>