<h2>Charts</h2>
  <div class="chart_outside">
  <div class="chart_list">
  <% @charts.each do |chart| %>
    <% if chart and chart.chart_thumbnail and chart.chart_thumbnail.medium %>
        <div class="chart">
        <%= image_tag chart.chart_thumbnail.medium %>
        <div class="chart_text">
          <div class="title">
            <%= chart.name %>
          </div>
          <div class="genres">
            <% chart.genres.each do |genre| %>
              <span class="genre <%= cycle('even','odd') %>">
                <%= genre.name %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    <% else %>
      <% chart.destroy %>
    <% end %>
  <% end %>
  </div><!-- /chart_list -->
  <div class="clear"></div>
  </div><!-- /chart_outside -->
<%= will_paginate @charts, :class => "pagination charts", :param_name => "chart_page", :previous_label => 'Previous', :next_label => 'Next' %>
  <div class="clear"></div>
