<h2>Charts</h2>
  <div class="chart_outside">
  <div class="chart_list">
  <% @charts.each do |chart| %>
    <div class="chart" <%= "name=/charts/#{chart.id}/get" %> title="<%= chart.name %>">
      <%= image_tag chart.chart_thumbnail.medium %>
      <div class="chart_text">
        <div class="title">
          <%= chart.name %>
        </div>
        <div class="genres">
          <ul>
          <% chart.genres.each do |genre| %>
            <li class="genre <%= cycle('even','odd') %>">
              <%= genre.name %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  </div><!-- /chart_list -->
  <div class="clear"></div>  
  </div><!-- /chart_outside -->
<%= will_paginate @charts, :class => "pagination charts", :param_name => "chart_page", :previous_label => 'Previous', :next_label => 'Next' %>
  <div class="clear"></div>
  
