<!DOCTYPE html>
<html>
<head>
  <title>Myvolume</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<!-- <div id="topadminbar">
			<% if user_signed_in? %>
				<p>Welcome <%= current_user.email %> ! ~ <%= link_to "Sign Out", destroy_user_session_path %></p>
			<% else %>
				<%= link_to "Sign In", new_user_session_path %> ~ <%= link_to "Register", new_user_registration_path %>
			<% end %>
		</div> -->
		<div id="header">
			<div id="flash">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
			</div>
			<br/> 
			<h1>Welcome to myvolu.me</h1>
		</div>
		<div id="body_container">
			<%= yield %>
		</div>
	</div>


</body>
</html>
<script>
	// if ($.browser.mozilla) {
	// 	var as = audiojs.createAll();
	//   }
	// else if ($.browser.webkit) {
	// 	var as = audiojs.createAll();
	// }
	// else {
	// 	audiojs.events.ready(function() {
	// 	    var as = audiojs.createAll();
	// 	  });
	// }
	
</script>

