<!DOCTYPE html>
<html>
    <head>
        <title>myvolu.me</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <%= stylesheet_link_tag :all %>
        <%= javascript_include_tag "jquery-1.6.1.min.js", "pagination.js", "preload.js" %>
        <%= javascript_include_tag "jquery.jplayer.min.js" %> 

        <%= csrf_meta_tag %>
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12298170-2']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>

      <!-- End Google Analytics -->
  </head>
  <body>
    <div class="top_background"></div>
      <% if current_user %>
        <div class="alert">
            <% for name in flash_names %>
                <% if flash[name] %>
                    <div class="alert-message <%= name %>">
                        <p><%= flash[name] %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="topbar">
          <div class="topbar-inner">
            <div class="container clearfix">
              <div class="logo">
                <a href="/"><%= image_tag('myvolume-logo.png') %></a>
              </div>
              <ul class="nav">
                <li class="charts"><a href="#">charts</a></li>
                <li class="topdownloads"><a href="#">top downloads</a></li>
              </ul>
              <ul class="secondary-nav">
                <li class="avatar"><img src="<%= avatar_url(current_user) %>" height="26px"/></li>
                <li><a href="#"><%= proper_name(current_user) %></a></li>
                <li><a href="/log_out">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      


      <div class="container">
        <%= yield %>
      </div>

      <div id="jquery_jplayer_1" class="jp-jplayer"></div>

      <div class="jp-audio-container">
        <div class="jp-audio">
          <div class="jp-type-single">
            <div id="jp_interface_1" class="jp-interface">
              <ul class="jp-controls">
                <li><a href="#" class="jp-play" tabindex="1">play</a></li>
                <li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
                <li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
                <li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>
              </ul>
              <div class="jp-progress-container">
                <div class="jp-progress">
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                  </div>
                </div>
              </div>
              <div class="jp-volume-bar-container">
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </body>
</html>
<script type="text/javascript">
  $('.alert-message').delay(5000).slideUp(1000, function () { });
  $(document).ready(function(){

    $("#jquery_jplayer_1").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          mp3: "http://geo-samples.beatport.com/items/volumes/volume1/items/2000000/600000/70000/6000/300/80/2676381.LOFI.mp3",
        });
      },
      ended: function (event) {
        $(this).jPlayer("play");
      },
      swfPath: "js",
      supplied: "mp3"
    });
    
    $(".play").live("click", function(){
      var sample_url = $(this).attr('name');

      $(".playing").removeClass("playing");
      $(this).addClass("playing");

      $("#jquery_jplayer_1").jPlayer("setMedia", {
        mp3: sample_url
      }).jPlayer("play");
    });
  });
</script>
