<!DOCTYPE html>
<html>
<head>
  <title>myvolu.me</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <!-- Google Analytics -->
  <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-12298170-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!-- End Google Analytics -->
</head>
<body>
	<div id="topbar">
		<span id="logo">♥myvolu.me</span>
		<span id="tagline">An easy way to discover new music.</span>
		<!-- <ul id="topnav">
			<li class="highlighted"><%= link_to "Charts", charts_path %></li>
		</ul> -->
		<span id="lastupdate"><%= CronWatcher.last.last_update.strftime("Last Updated at %I:%M%p on %m/%d/%Y") %></span>
		<!-- <ul id="topnav">
				<% if user_signed_in? %>
					<li>Welcome <%= current_user.email %> ! ~ <%= link_to "Sign Out", destroy_user_session_path %></li>
				<% else %>
					<li><%= link_to "Log In", new_user_session_path %></li>
					<li><%= link_to "Join", new_user_registration_path %></li>
				<% end %>
				</ul> -->
	</div>
	<div id="container">
		<div id="header">
			<div class="wrap">
				<div id="flash">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>
			</div>
		</div>
		<%= yield %>
		<div id="footer">
			<div class="content_wrapper">
				<p id="copyright">
				©2011 Julian Connor
				<strong>I hope this helps you. ;)</strong>
				</p>
			</div>
		</div>
	</div>


</body>
</html>
<script>
	// if ($.browser.mozilla) {
	// 	var as = audiojs.createAll();
	//   }
	// else if ($.browser.webkit) {
	// 	var as = audiojs.createAll();
	// }
	// else {
	// 	audiojs.events.ready(function() {
	// 	    var as = audiojs.createAll();
	// 	  });
	// }
	
</script>

